@font-face {
  font-family: Raleway-Regular;
  src: url(raleway/Raleway-Regular.ttf);
}
@font-face {
font-family: Raleway-Italic;
  src: url(raleway/Raleway-Italic.ttf);
}
@font-face {
font-family: Raleway-Bold;
  src: url(raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway-BoldItalic;
  src: url(raleway/Raleway-BoldItalic.ttf);
}
@font-face {
  font-family: Rokkitt-Regular;
  src: url(rokkitt/Rokkitt-Regular.ttf);

}
@font-face{
font-family: Rokkitt-Bold;
    src: url(rokkitt/Rokkitt-Bold.ttf);
}

*{
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
header, main, nav, aside, article, footer, figure, figcaption{
  font-family: "Rokkitt","Arial";
  padding: 0;
  position: relative;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
#buttonsBuyNow{
  color: #333;
text-align: center;
text-decoration: none;
display: block;
width: 10em;
border: 2px solid #333;
padding: .5em 1em;
border-radius: 6px;
position: absolute;
bottom: 1.5rem; /* gleicher Wert wie padding der Boxen */
right: 1.5rem;

}
#buttonsBuyNow2{
  color: #333;
text-align: center;
text-decoration: none;
display: block;
width: 10em;
border: 2px solid #333;
padding: .5em 1em;
border-radius: 6px;
position: absolute;
bottom: 1.5rem; /* gleicher Wert wie padding der Boxen */
left: 1.5rem;
}

#buttonsBuyNow:hover{
  color: gray;
  background-color: lightgray;
  transition: all .3s ease-out;
}
#buttonsBuyNow2:hover{
  color: gray;
  background-color: lightgray;
  transition: all .3s ease-out;
}
.buttons{
  border: 5px solid white;
  border-radius: 70px;
  display: block;
  width: 5.5em;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.buttons:hover{
  color: gray;
  background-color: rgba(238,85,51,0.8);
}
header{
  text-align: center;
  height: 160px;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: row;
}
#menu nav,ul,li,a,i{
  list-style-type: none;
  color: White;
}
#logo{
  padding: 1rem;
  width: 11rem;
  margin=0;
  border: solid #666;
}
#logo a,figure,figcaption{
  font-size: 1.3rem;
}
#logo a,figure,img{
  width: 80%;
  display: block;
}
#menu{
  width: 100%;
  display: flex;
  flex-direction: row;
}




body{
  font-family: "Raleway","Arial","Helvetica";
  font-size: 16px;
  position: relative;
  color: #333;
  line-height: 1.6;
  background-color: #ded7d4;
  width: 100%;

}
h3{
  font-weight: normal;
  margin-bottom: 10px;
}
.text a{
  text-decoration: none;
  color: #e53;
}
.text a:hover{
  text-decoration: underline;
}
#content{
  text-align: justify;
  line-height: 25px;
  max-width: 1400px;
  position: relative;


}
#content2{
  text-align: justify;
  line-height: 25px;
  max-width: 1400px;
  position: relative;

}
asside li a{
  text-decoration: none;
  color: #e53;

}
asside li{
  list-style-type: none;

}
.products{
  float: left;
  width: 74%;
  position: relative;
}

article{
  padding-top: 100px;
  position: relative;
  background-color: #fff;
  margin: 10px;
  height: auto;
  padding-right: 5px;
}
asside{

  position: sticky;
position: -webkit-sticky;
 float: right;
  width: 24%;
  padding: 1.5rem;
  background-color: #fff;
  line-height: 25px;
  display: block;


  right: 1.5rem;
  top: 5rem;

}
footer{
  text-decoration: none;
  position: relative;
color: white;
  width: 100%;
  float:left;
  text-align: center;
  background-color: rgba(33,34,37,0.9);


}
footer a{
  color: white;
  text-decoration: none;
}
.asside{
  width: 30%;
  margin-right: 1.5em;
  float: left;
}
.asside2{
  width: 30%;
  margin-left: 1.5em;
  float: right;
}
figure img{
  width: 100%;
  float: left;
}

#content ul{
  margin-top: 15px;
  margin-left: 20px;
}
#content2 ul{
  margin-top: 15px;
  margin-left: 20px;
}
#content a{
  text-decoration: none;
    color: #e53;
}
figcaption{
  position: relative;
  font-weight: bold;
  text-align: center;
}


.banner{
  background-image:url("../images/banner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  box-sizing: content-box;
  padding-bottom: 66%;
  height: 0;
  background-size: cover;
  margin-bottom: 10px;
  z-index: 3;
}

.banner div{
  padding:35vw 5vw;
}
.banner h1, .banner  p, .banner a{
  font-size: 4vw;
  color: white;
  text-shadow: 3px 5px 8px white;
}
.banner h1{
  padding-bottom: 35px;
  font-family: "Rokkitt","Arial";
}
.banner p{
  padding-bottom: 25px;
}
.pipes{
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 6px;
}
.product_list{
  padding: 1rem;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product_list{
  width: 100%;
}
.product_list li{
  width: 33.33%;

}
.product_list li,a,figure,figcaption{
  text-decoration: none;
    list-style-type: none;
    text-align: left;
}
.product_list b{
  font-size: 1.3rem;

}
.before::before{

}
.product_list figure{
  color: white;
  padding: 1rem;
  background-color: rgba(33,34,37,0.9);
}
.product_list li{
  display: block;
  padding: 10px;

}
